.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/configuration/override.json
.swiftpm/xcode/
.cache/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
